main{
    background-color: #1a1a1a;
    padding-bottom: 50px;
    padding-top: 150px;
}

#socialmidia img, #contactMe img{
    width: 32px;
    height: 32px;
}

#socialmidia ul li, #contactMe ul li{
    display: inline;
}

footer h1{
    padding-bottom: 30px;
}

@media (max-width: 992px) { 
    #socialmidia ul li{
        display: none;
    }
}