html {
  scroll-behavior: smooth;
}

body a{
    color: #800080;
}

body a:hover{
    color: #212529;
}

main{
    padding-bottom: 50px;
}

main h4{
    padding-top: 15px;
}

main .container{
    margin-top: 10px;
    margin-bottom: 50px;
}

#socialmidia img, #contactMe img{
    width: 32px;
    height: 32px;
}

#socialmidia ul li{
    display: inline;
    list-style: none;
}

main, footer{
    font-family: "Verdana",sans-serif;
}

footer{
    padding-bottom: 30px;
}

footer .copyritght{
    line-height: 5px;
}

footer h1{
    padding-top: 30px;
    padding-bottom: 30px;
}

#socialmediafooter p{
    display: inline;
}

.arrow img{
    height: 40px;
    width: 40px;
}

#portfolio, #myArticles, #technologies{
    padding-top: 15px;
    padding-bottom: 15px;
}

#myBio h1, #portfolio h1, #myArticles h1, #technologies h1{
    color: #212529;
    padding-top: 15px;
    padding-bottom: 20px;
}

main figcaption{
    padding-top: 30px;
}

#technologies p{
    display: inline;
}

@media (min-width: 993px) { 
    .navarrow{
        display: none;
    }
}

@media (max-width: 992px) {
    #socialmidia ul li{
        display: none;
    }
    
    #myBio img{
        width: 220px;
        height: 220px;
    }
    
    footer .copyritght{
        line-height: normal;
    }
    
    .arrow{
        display: none;
    }
    
    .navarrow img{
        height: 40px;
        width: 40px;
    }
    
    #portfolio, #myArticles, #technologies{
        border-top: 1px solid #dee2e6;
    }
}

