@import url('./../components/profile/profile-image.css');

.links-page__header__image-container{
    width: 50%;
}

.links-page__header__image{
    border: 3px solid var(--image-border);
}

.links-page__header{
    margin-top: 24px;
    padding: 8% 0 4%;
    height: 190px;
}

.links-page__header__caption{
    margin: 20px auto;
    text-align: center;
}

.links-page__social-media-container,
.links-page__header{
    display: flex;
    align-items: center;
    justify-content: center;
}


.links-page__social-media-link{
    margin: 4%;
}

.links-page__list-item__link{
    color: var(--text-color);
    font-size: 1em;
}

.links-page__list{
    text-align: center;
}


.links-page__list-item{
    line-height: 1.5;
}

.links-page__list--left{
    text-align: left;
}

.links-page__last-posts{
    padding-top: 16px;
    border-top: 1px solid #242424;
    margin-top: 24px;
}

.links-page__last-posts__title{
    font-weight: 600;
}

.links-page__last-posts__header{
    margin: 6px 0;
}