@import 'mobile.scss';
@import 'desktop.scss';
@import 'variables.scss';

body, main, article, section,
footer, header, h1, h2, div,
img, figure{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: $poppins-font;
    background-color: hsl(0, 0%, 98%);
}

.header-page{
    padding: 30px 0 20px;
}

.container{
    margin: auto;
}

section{
    box-shadow: 2px 2px 15px $grayish-blue;
    margin: 25px;
    padding: 25px;
    border-top: solid;
    border-top-width: 5px;
    border-radius: 5px;
}

header h1, header p{
    text-align: center;
}


figure{
    width: auto;
    display: flex;
    justify-content: right;
}

section:nth-child(1){
    border-color: $cyan;
}

.col-cards section:nth-child(1){
    border-color: $red;
}

.col-cards section:nth-child(2){
    border-color: $orange;
}

section:last-child{
    border-color: $blue;
}

h1:nth-child(1){
    font-weight: 200;
}

h1, h2{
    color: $dark-blue;
}

p{
    color: $grayish-blue;
}

.attribution{
    font-size: 11px; text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}