@import 'variables.scss';
@import 'mobile.scss';
@import 'desktop.scss';

a, article, body, div,header, h1, h2,
footer, main, nav, section, img, figcaption, picture{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    color: $very-dark-violet;
}

body, nav h1, footer h1, footer h2{
    font-family: $body-font;
    font-size: 16px;
}

a, nav h1, footer section{
    text-transform: uppercase;
    text-decoration: none;
}

nav h1, footer a{
    color: $dark-violet;
}

footer h1{
    color: $dark-grayish-violet;
}

h1, h2{
    font-family: $header-font;
}

main p{
    font-size: 16px;
    line-height: 25px;
}

section{
    padding-top: 25px;
}

section p{
    color: $dark-grayish-violet;
}

footer section a{
    font-size: 16px;
    padding: 7px;
    color: $dark-violet;
    font-weight: 700;
    letter-spacing: 2px;
}

footer{
    margin-top: 100px;
}

footer h1{
    padding: 25px;
}

.cover-text{
    background-color: $dark-violet;
    color: $very-light-gray;
}

.banner{
    background-image: url("/images/bg-pattern-intro-right-mobile.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: $dark-violet;
    color: $very-light-gray;
    padding: 50px;
    line-height: 40px;
}

.fake-button{
    padding-top: 40px;
}

.fake-button a{
    color: $very-light-gray;
    letter-spacing: 2px;
    border: 1px solid $very-light-gray;
    padding: 10px 40px;
}

.fake-button a:hover{
    border-color: transparent;
    color: $dark-violet;
    background-color: $very-light-gray;
    font-weight: 700;
}

.img-fluid{
    max-width: 100%;
}

.footer-section a{
    display: block;
}

.container{
    width: 90%;
    margin: auto;
}

.section-title{
    font-weight: inherit;
}

.footer-social-media path:hover{
    fill: $very-dark-violet;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}