@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body, tr, td, table{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(240, 78%, 98%);
    background-image: url(../images/bg-top.svg);
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    color: hsl(232, 13%, 33%);
    font-size: 15px;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

.header-pricing{
    margin-bottom: 60px;
}

.box-price{
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    height: 50%;
    margin-bottom: 20px;
}

.box-price:nth-child(even){
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    color: #ffffff;
}

.box-price:nth-child(even) a{
    background-image: none;
    background-color: hsl(240, 78%, 98%);
    color: hsl(232, 13%, 33%);
}

.btn-area{
    height: 50px;
    margin: 30px 0 30px;
}

.btn-area a{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    color:  hsl(240, 78%, 98%);
    padding: 15px 25%;
    font-size: 10px;
    letter-spacing: 2px;
    border-radius: 5px;
}

.btn-area:nth-child(even) a:hover{
    color: hsl(232, 13%, 33%);
    background-image: none;
    border: 1px solid hsl(232, 13%, 33%);
    font-weight: bold;
}

.box-price:nth-child(2n) a:hover{
    color: hsl(240, 78%, 98%);
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    border: 1px solid hsl(240, 78%, 98%);
}

.benefits{
    width: 100%;
    padding: 0 15px 0 15px;
}

.benefits tr td{
    border-bottom: 1px solid hsla(234, 14%, 74%, 0.452);
    height: 50px;
    vertical-align: middle;
}

.btn-info{
    height: 25px;
    padding: 25px;
}

.dollar-sign{
    font-size: 1.8rem;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.price{
    font-size: 4rem;
    font-weight: bold;
    padding: 0;
    margin: 5px;
}

/*--Switch Button----------------------------*/

.switch-btn span{
    display: flex;
    padding: 5px 15px 5px 15px;
}

.switch-btn{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.change-price{
    width: 100px;
    height: 50px;
    background-color: #eeeeee;
}


.toggle + label{
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.toggle-switch + label{
    padding: 2px;
    width: 60px;
    height: 32px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    border-radius: 30px;
}

.toggle-switch + label::before,
.toggle-switch + label::after{
    display: block;
    position: absolute;
    top: 1;
    left: 1;
    bottom: 1;
    content: "";
}

.toggle-switch + label::after{
    width: 32px;
    height: 32px;
    background-color: hsl(240, 78%, 98%);
    border-radius: 100%;
    transition: all 0.4s;
}

.toggle-switch:checked + label::after{
    transform: translateX(28px);
}

.monthly-price{
    display: none;
}

/*-------------------------------------------*/

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media(min-width: 1200px){
    .all-prices{
        display: flex;
        justify-content: space-around;
    }

    .box-price:nth-child(2n){
        position: relative;
        z-index: 3;
        margin-top: -20px;
        padding: 15px 0px 25px;
    }
}