@import 'variables.scss';

@media only screen and(max-width:600px){

    .container .header-page{
        width: 80%;
        margin: auto;
    }
    
    section .container{
        padding: 5px 0 5px;
    }

    section{
        margin-bottom: 50px
    }

    .all-content{
        padding-bottom: 50px;
    }   

}