:root{
    --background-color: #1C1C1C;
    --title-color: #ECA769;
    --highlight-color: #ECA769;
    --subtitle-color: #E5E5E5;
    --text-color: #f8f8f8;
    
    --text-weight: 300;
    --button-text-weight: 800;
    --font-sub-title: 'Bebas Neue', cursive;
    --font-text: 'Lato', sans-serif;
    --font-title: 'Style Script', cursive;
}