body a{
    color: #800080;
}

body a:hover{
    color: #212529;
}

.row{
    padding: 10px;
    text-align: center;
}
.row img{
    padding-right: 10px;
}

ul{
    list-style-type: none;
    padding: 20px 0px 0px 0px;
    margin: 0;
}

ul li{
    padding-top: 2px;
}

.text-light{
    background-color: #800080;
    text-align: center;
    padding: 5px;
    color: #fafafa;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p{
    line-height: 1px;
    text-align: center;
    padding: 3px;
}

@media(max-width:1200px){
    .row{
        text-align: left;
    }

    .row img{
        padding: 5px;
    }
}