.github-repos__footer{
    width: 100%;
    text-align: center;
    margin-top: 16px;
}

.github-repos__footer a{
    font-size: 0.875em;
    color: var(--font-text);
}

.github-repos__footer a:hover{
    color: var(--hover-text-color);
}