.course-in-progress__item{
    margin: 6px auto;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.course-in-progress__item-header a{
    color: var(--text-color);
}