.courses-in-progress{
    margin: 24px auto;
}

.courses-in-progress__container {
    padding: 4%;
}

.courses-in-progress__header{
    margin: 16px auto;
}

.courses-in-progress__title {
    font-weight: 400;
}


@media screen and (min-width: 1200px){
    
    .courses-in-progress{
        margin: 24px 0;
    }

    .courses-in-progress__header{
        margin-bottom: 20px;
        margin-top: 4px;
    }

}
