@import url('./commons/variables.css');
@import url('./commons/container.css');
@import url('./components/footer.css');
@import url('./components/icons.css');
@import url('./components/menu-mobile.css');
@import url('./components/header-pages.css');

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-text);
    font-weight: 300;
}

a{
    text-decoration: none;
}

.link{
    color: var(--link-color);
}

footer{
    font-size: 12px;
}

.subtitle-cards{
    font-weight: 400;
}

.img-responsive{
    max-width: 100%;
    box-sizing: border-box;
}