.button{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--button-text-weight);
    color: var(--button-text-color);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.12px;
    border-radius: 10px;
    width: 238px;
}

.button--outlined{
    border: 2px solid var(--border-color);
}