.footer{
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.footer--home{
    margin: 12px auto;
}

.footer--pages{
    margin: 24px auto;
}

