.progress-bar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar__background{
    width: 90%;
    height: 6px;
    background-color: #f8f8f8;
}

.progress-bar{
    width: 0%;
    height: inherit;
    background: #85D178;
    transition: width 1s 0.2s linear;
}

.progress-bar__percentual{
    font-size: 12px;
}